/*@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,700,700italic|Source+Serif+Pro:400,700);*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(250, 250, 250);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: underline;
    color: inherit; 
}

p {
	display: block;
	margin-bottom: 15px;
}

code,
pre {
	font-family: 'Source Code Pro', monospace;
}



.container {
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}



body {
    background-color: pink;
}