html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(250, 250, 250);
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

a {
    text-decoration: underline;
    color: inherit; 
}

p {
	display: block;
	margin-bottom: 15px;
}

img {
    width: 100%;
}

img[src=""] {
    display: none;
}

code,
pre {
	font-family: 'Source Code Pro', monospace;
}

.container {
	width: 90%;
	max-width: 600px;
	margin: 50px auto;
}

